[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
pydub = "*"
ffmpeg = "*"
pyaudio = "*"
groq = "*"
gtts = "*"
pyttsx3 = "*"
pygame = "*"
gradio = "*"
gradio-client = "*"
huggingface-hub = "*"
pyrebase4 = "*"
pollinations = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.11"
